@define-color foreground white;
@define-color background grey;
@define-color foreground-warning white;
@define-color background-warning #2980b9;
@define-color foreground-error black;
@define-color background-error orange;
@define-color foreground-critical black;
@define-color background-critical red;

* {
    margin: 1px;
    padding: 1px;
    border-radius: 4px;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto, Helvetica, Arial, sans-serif, FontAwesome, otf-font-awesome; */
    font-family: "Symbols Nerd Font Mono", sans-serif, "Font Awesome 5";
    font-size: 12.5px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 0px;
    border-top: 0px;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @background;
}
tooltip label {
    font-size: 15px;
    color: @foreground;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @FOREGROUND;
}
*/

#workspaces button {
    padding: 0 1px;
    /* background-color: transparent; */
    color:            @foreground;
    background-color: @background;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 -3px @foreground; */
}

#workspaces button.focused {
    color:            @foreground-warning;
    background-color: @background-warning;
    /* box-shadow: inset 0 -3px @foreground; */
}

#workspaces button.urgent {
    color:            @foreground-critical;
    background-color: @background-critical;
}

#mode {
    color:                   @foreground-critical;
    background-color:        @background-critical;
    border-bottom: 3px solid @foreground;
}

#window,
#workspaces {
    font-family: "Font Awesome 5";
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-bandwidth,
#custom-packages,
#custom-hostname,
#wireplumber,
#custom-scratchpad,
#custom-vpn,
#cpu,
#memory,
#temperature,
#battery,
#disk,
#disk,
#sda,
#custom-btc,
#custom-weather,
#custom-reload,
#custom-apps_menu,
#idle_inhibitor,
#clock,
#network,
#tray {
    color:            @foreground;
    background-color: @background;
    margin-right: 1px;
    padding: 0 1px;
}

#battery.discharging {
    color:      @foreground-error;
    background: @background-error;
}

@keyframes blink {
    to {
        color:            @foreground-error;
        background-color: @background-error;
    }
}

#battery.critical:not(.charging) {
    color:            @foreground-critical;
    background-color: @background-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @foreground-error;
}

/* BH: */
#disk.warning {
    color:            @foreground-error;
    background-color: @background-error;
}
#disk.critical {
    color:            @foreground-critical;
    background-color: @background-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: @background-critical;
}

#network.ethernet {
    color:            @foreground-error;
    background-color: @background-error;
}

#wireplumber {
    font-family: "FontAwesome";
}

#wireplumber.muted {
    color:            @foreground-warning; /* was #2a5c45; */
    background-color: @background-warning; /* was #90b1b1; */
}

#temperature.critical {
    color:            @foreground-critical;
    background-color: @background-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#idle_inhibitor.activated {
    background-color: @background-warning;
    color:            @foreground-warning;
}

#custom-reload.error,
#custom-packages.error {
    color:            @foreground-error;
    background-color: @background-error;
}

#custom-vpn.error {
    color:            @foreground-error;
    background-color: @background-error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
#clock {
    font-family: monospace;
    font-size: 12px;
}
